@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  margin: 50px;
  max-width: 1000px;
  min-height: 100px;
  background-color: white;
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.profiletext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profiletext .imgbox {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profiletext .imgbox img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
}

.container .left-side {
  position: relative;
  background: #003147;
  padding: 40px;
}

.profiletext h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profiletext h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contact {
  padding: 40px;
}

.title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact ul {
  position: relative;
}

.contact ul li {
  list-style: none;
  position: relative;
  margin: 20px 0;
  cursor: pointer;
}

.contact ul li .icon {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  color: aquamarine;
}

.contact ul li span {
  color: white;
  font-weight: 300;
}

.contact.education li {
  margin-bottom: 15px;
}

.contact.education h5 {
  color: #03a9f4;
}
.contact.education h4:nth-child(2) {
  color: white;
  font-weight: 00;
}

.contact.education h4:nth-child(3) {
  color: white;
  font-weight: 100;
}

.contact.language li .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: black;
  display: block;
  margin-top: 5px;
}

.contact.language li .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.container .right-side {
  position: relative;
  background: white;
  padding: 40px;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
  margin: 10px;
}

.project-content {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.text h4 {
  margin: 10px;
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.year-name {
  min-width: 150px;
}

.year-name h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.experience .experience2 {
  margin: 0px;
  list-style: none;
}
.experience ul li {
  margin: 0px;
  list-style: none;
}

.title10 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0;
}

.skills li .percent2 {
  position: relative;
  width: 100%;
  height: 10px;
  background: lightgrey;
  display: inline-block;
  margin-top: 5px;
}

.skills li .percent2 div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.skills li {
  list-style: none;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.skills li .text5 {
  margin-top: 0px;
  width: 60px;
}

.interests ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interests ul li {
  list-style: none;
  color: #333;
  font-weight: 300;
  margin: 2px;
  padding: 5px;
}

.interests ul li .fa {
  margin: 5px;
  color: #03a9f4;
  font-size: 18px;
  padding-right: 10px;
}

@media (max-width: 1000px) {
  .interests ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .project-content {
    flex-direction: column;
    margin-bottom: 5px;
    min-width: 600px;
  }
  p {
    display: block;
    min-width: 400px;
    flex-direction: column;
  }
  .interests ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .interests ul li .fa {
    display: inline-block;
    color: #03a9f4;
    font-size: 18px;
    width: 40px;
  }
}
@media (max-width: 400px) {
  .skills li .text5 {
    grid-template-columns: repeat(1, 1fr);
  }
}
