/******************************************
Created, maintained & Owned by: Tauqeer Khan
Date: 16/07/21
******************************************/

body {
  font-family: arial;
  margin: 10px auto;
  background-color: lightgray;
}

#Header {
  width: 1000px;
  margin: 20px auto;
  background: white;
}

#main-heading h1 {
  font-family: italic;
  font-weight: bolder;
}

.first {
  background: #181818;
  padding: 10px;
}

ul.first {
  text-align: right;
  list-style-type: none;
  margin-right: 0;

  position: sticky;
  top: 0;
}

.first li {
  display: inline-block;
  margin-left: 30px;
}

.first a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 6px;
}

a.current {
  background: #8f746c;
  border-radius: 5px;
}
.first a:hover {
  font-weight: bolder;
  border: 1px white solid;
  box-shadow: 1px 1px 2px 1px rgba(250, 250, 250, 0.8);
}

#content {
  text-align: center;
  font-family: italic;
  font-weight: bolder;
  color: darkgrey;
}

#Banner img {
  width: 100%;
  height: 500px;
}

#Banner {
  background-color: lightgray;
}
.span-list {
  text-align: center;
  background-color: blanchedalmond;
  width: 100%;
  margin: 0 auto;
}
.span-list > h1 {
  font-family: italic;
  font-weight: bolder;
}

.span-list a img {
  display: block;
  height: 140px;
  width: 300px;
  margin: 10px auto;
  padding: 20px auto;
}

#second a {
  text-decoration: none;
  font-family: italic;
  color: black;
  text-align: left;
  font-weight: bolder;
}

#second a img:hover {
  box-shadow: 4px 4px 8px 4px rgba(40, 40, 40, 0.8);
}

#second a:hover {
  color: blue;
  text-decoration: underline;
  text-transform: uppercase;
}

#second a:visited {
  color: purple;
}

#bottom {
  background-color: lightblue;
}

#bottom h1 {
  color: black;
  font-family: italic;
  font-weight: bolder;
  font-size: 30px;
}
#bottom h2 {
  color: black;
  font-family: italic;
  font-weight: bolder;
  font-size: 20px;
}

#bottom a {
  text-decoration: none;
  color: black;
  display: block;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  width: 90px;
  border: 2px black dashed;
  text-align: center;
}

#bottom a:hover {
  font-weight: bolder;
  border: 3px black solid;
  box-shadow: 2px 2px 4px 2px rgba(40, 40, 40, 0.8);
}
#contact {
  width: 1000px;
  margin: 0 auto;
  background: inherit;
}
#contact-us-page h1 {
  font-family: italic;
  font-weight: bolder;
}

#contact-us-page p {
  font-family: arial;
  font-size: 20px;
}

#go-back a {
  text-decoration: none;
  font-family: arial;
  display: block;
  width: 110px;
  margin: 0px;
  border: 2px black dashed;
  text-align: center;
  color: black;
}

#go-back a:hover {
  text-decoration: none;
  font-family: arial;
  display: block;
  width: 110px;
  margin: 10px;
  font-weight: bolder;
  border: 3px black solid;
  box-shadow: 1px 1px 2px 1px rgba(40, 40, 40, 0.8);
}

#about-us h1 {
  font-family: italic;
  font-weight: bolder;
}

#about-us p {
  font-family: arial;
  font-size: 20px;
}

#customer {
  text-decoration: none;
  font-family: arial;
  display: block;
  width: 180px;
  margin: 0;
  border: 2px black dashed;
  text-align: center;
  color: black;
}

#customer:hover {
  text-decoration: none;
  font-family: arial;
  display: block;
  width: 180px;
  margin: 10px;
  font-weight: bolder;
  border: 3px black solid;
  box-shadow: 1px 1px 2px 1px rgba(40, 40, 40, 0.8);
}
