* {
  margin: 0%;
  padding: 0%;
}
.main {
  width: 100%;
  height: 100vh;

  position: relative;

  background: black;
}
.main img {
  position: absolute;
  top: 0%;
  left: 0%;

  width: 100%;

  object-fit: cover;
}
.main img:nth-child(2) {
  mix-blend-mode: multiply;
}
