@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: #131313;
}

.container {
  position: relative;
}

.container .card {
  position: relative;

  width: 320px;
  height: 450px;

  background: #232323;

  border-radius: 20px;

  overflow: hidden;
}

.container .card:before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #9bdc28;

  clip-path: circle(150px at 80% 20%);

  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  content: "Nike";

  position: absolute;
  top: 30%;
  left: -20%;

  font-size: 12em;
  font-style: italic;

  color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBox {
  position: absolute;
  top: 50%;

  width: 100%;
  height: 220px;

  transform: translateY(-50%);

  z-index: 10000;

  transition: 0.5s;
}

.container .card:hover .imgBox {
  top: 0%;
  transform: translateY(0%);
}

.container .card .imgBox img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 270px;

  transform: translate(-50%, -50%) rotate(-25deg);
}

.container .card .contentBox {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100px;

  text-align: center;

  transition: 1s;

  z-index: 10;
}

.container .card:hover .contentBox {
  height: 210px;
}

.container .card .contentBox h2 {
  position: relative;

  font-weight: 600;

  letter-spacing: 1px;

  color: #fff;
}

.container .card .contentBox .size,
.container .card .contentBox .color {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 20px;

  transition: 0.5s;
}

.container .card .contentBox .size h3,
.container .card .contentBox .color h3 {
  margin-right: 10px;

  color: #fff;

  font-weight: 300;
  font-size: 14px;

  text-transform: uppercase;
  letter-spacing: 2px;
}

.container .card .contentBox .size span {
  display: inline-block;

  width: 26px;
  height: 26px;

  margin: 0 5px;

  text-align: center;
  line-height: 26px;
  font-size: 14px;

  color: #111;
  background: #fff;

  transition: 0.5s;

  border-radius: 5px;

  cursor: pointer;
}

.container .card .contentBox .size span:hover {
  background: #9bdc28;
}

.container .card .contentBox .color span {
  width: 20px;
  height: 20px;

  margin: 0 5px;

  background: #ff0;

  border-radius: 50%;

  cursor: pointer;
}

.container .card .contentBox .color span:nth-child(2) {
  background: #9bdc28;
}
.container .card .contentBox .color span:nth-child(3) {
  background: #03a9f4;
}
.container .card .contentBox .color span:nth-child(4) {
  background: #e91e63;
}

.container .card .contentBox a {
  display: inline-block;

  margin-top: 10px;
  padding: 10px 20px;

  background: #fff;

  border-radius: 5px;

  text-decoration: none;
  font-weight: 600;
  color: #111;

  opacity: 0;

  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBox a {
  opacity: 1;

  transform: translateY(00px);
  transition-delay: 0.5s;
}
