* {
  margin: 0;
  padding: 0;

  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background: #000;
}

.box {
  height: 60vh;
  width: 40vh;

  background: #232323;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  position: relative;
  border-radius: 20px;
}

.box::before {
  content: "";

  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  background: #9bdc28;

  clip-path: circle(50% at 90% 15%);
  transition: 0.5s ease-in;
}

.box:hover::before {
  clip-path: circle(100% at 80% -35%);
}

.box::after {
  content: "$RK$";

  position: absolute;
  top: 40%;
  left: 0%;

  color: rgba(255, 255, 255, 0.04);
  font-size: 8em;
  font-weight: 800;
  font-style: italic;
}

.image-box {
  position: absolute;
  height: 50%;
  width: 85%;
  top: 25%;
  left: 10%;

  transition: 0.4s ease-in;
}

.box:hover .image-box {
  position: absolute;
  top: 5%;
  transform: rotate(-25deg);
}

.image-box img {
  position: absolute;
  width: 90%;
  height: 100%;
  transform: rotateY(180deg);
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  top: 75%;
  bottom: 0%;

  transition: 0.7s;
}

.box:hover .content-box {
  position: absolute;
  top: 55%;
}

h3 {
  color: white;

  letter-spacing: 2px;
  margin: 10px auto;
  font-size: 1.75rem;
  text-align: center;
}

.size {
  display: flex;
  justify-content: space-around;

  color: white;

  text-transform: uppercase;
  font: 5px;
  margin: 5px 5px 5px 0;
}

p {
  letter-spacing: 1px;
  margin-right: 10px;
  margin: 5px 5px 5px 0;
  padding: 2.5px;
}

span {
  display: inline-block;

  height: 20px;
  width: 15px;
  margin: 5px;
  padding: 2.5px;
  text-align: center;
  border-radius: 3px;

  color: #000;
  background: white;

  z-index: 1;
}

.box .content-box .size span:hover {
  background: #9bdc28;

  cursor: pointer;
}

.color {
  display: flex;
  justify-content: center;

  margin: 5px 5px 5px 0;

  color: white;

  text-transform: uppercase;
  font: 5px;

  position: relative;
}

.color p {
  letter-spacing: 1px;
  margin-right: 10px;
}

.color span {
  margin: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.color span:nth-child(2) {
  background: red;
}

.color span:nth-child(3) {
  background: blue;
}

.color span:nth-child(4) {
  background: green;
}

.color span:nth-child(5) {
  background: yellow;
}

a {
  text-decoration: none;
  background: white;
  color: #000;

  font-size: 1.2rem;
  font-weight: 400;
  word-spacing: 5px;
  border-radius: 5px;

  padding: 5px;

  transform: translate(200px);

  transition: 0.5s;
}

a:hover {
  background: #9bdc28;
}

.box:hover .content-box a {
  transform: translate(0px);

  transition-delay: 0.5s;
}

.size,
.color {
  opacity: 0;
  visibility: hidden;
}

.box:hover .content-box .size,
.box:hover .content-box .color {
  opacity: 1;
  visibility: visible;
}
