* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
.container a:hover {
  color: red;
  transition: 0.2s;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  width: 100%;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 p {
  font-size: 20px;
  line-height: 24px;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.4s;
}
.btn:hover {
  background: #ec3535;
  transition: 0.4s;
  color: black;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
