* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container img {
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  background: #000;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.container img:nth-child(2) {
  mix-blend-mode: multiply;
}
