.container{
    display: grid;

    height: 100vw;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 0.2rem;
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800px;
    font-size: 24px;
    text-align: center;

}

nav{
    background: #c1c8c1;
    grid-area: nav;
}

main{
    background: #c2c2c8;
    grid-area: main;
}

.sidebar{
    background: #c8c4c4;
    grid-area: sidebar;
}

.content1{
    background: #c8c8c4;
    grid-area: content1;
}

.content2{
    background: #c4c8c8;
    grid-area: content2;
}

.content3{
    background: #c8c4c8;
    grid-area: content3;
}

footer{
    background: #c2c4c6;
    grid-area: footer;
}

@media all and (max-width:550px)
{
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";

    }
}