body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #eeeeee;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
  background: #fff;
}

#main-navigation {
  background: #181818;
  padding: 10px;
}

#main-navigation ul {
  text-align: right;
  list-style-type: none;
  margin-right: 10px;
}

#main-navigation li {
  display: inline-block;
  margin-left: 20px;
}

#main-navigation a {
  color: #fff;

  padding: 6px;

  font-size: 14px;

  text-decoration: none;
  text-transform: uppercase;
}

#main-navigation a.current {
  background: #8f746c;
  border-radius: 4px;
}

#lead-banner img {
  width: 100%;
}

#shop {
  margin: 30px 0;
  text-align: center;
}

#shop h2.product-name {
  font-size: 16px;
  margin-bottom: 0;
}

#shop span.price {
  display: block;
  font-size: 58px;
}

#shop a.add-to-bag {
  display: block;
  width: 210px;

  color: #8f746c;

  border: 2px solid #8f746c;

  padding: 10px 0;
  margin: 20px auto;

  font-size: 12px;

  text-transform: uppercase;
  text-decoration: none;
}

#shop a.add-to-bag:hover {
  color: #fff;
  background: #8f746c;
}

#footer-banner img {
  width: 100%;
}
