@import url("http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: #131313;
}

.container {
  margin: auto;
}

.card {
  position: relative;
  width: 300px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.card:before,
.card:after {
  content: "";
}

.card:before,
.card:after,
.img-box,
.img-box img,
.name-box,
.variant-container {
  position: absolute;
}

.card:before {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: #9bdc28;

  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card:after {
  content: "NIKE";
  top: 40%;
  left: -30%;

  color: rgba(200, 200, 200, 0.06);

  font-size: 12em;
  font-weight: 800;
  font-style: italic;
}

.card:hover:before {
  clip-path: circle(300px at 90% -20%);
}

.card .img-box {
  top: 30%;
  transform: translateY(-20%);
  width: 100%;
  height: 220px;
  z-index: 1;
  transition: 0.5s;
}

.card:hover .img-box {
  top: 0;
  transform: translateY(0%);
}

.img-box img {
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
}

.name-box {
  width: 100%;
  height: 100px;
  bottom: 0;
  transition: 1s;
  z-index: 1;
}

.card:hover .name-box {
  height: 210px;
}

.name-box h2 {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.variant-container {
  right: 2rem;
  bottom: 1rem;
  z-index: 1;
}

.size,
.color {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .size,
.card:hover .color {
  transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
}

.card:hover .color {
  transition-delay: 0.7s;
}

h3 {
  color: #fff;

  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 26px;

  margin-right: 10px;
}

span {
  width: 26px;
  height: 26px;
  border-radius: 10px;
  margin: 0 5px;

  background: #fff;
  cursor: pointer;
}

.size span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  display: inline-block;

  color: #777;

  transition: 0.5s;
}

.size span:hover {
  color: #000;
  background: #9bdc28;
}

.color span:nth-child(2) {
  background: #9bdc28;
}

.color span:nth-child(3) {
  background: #03a9f4;
}

.color span:nth-child(4) {
  background: #e91e63;
}

.variant-container a {
  display: inline-block;
  margin-top: 10px;

  padding: 10px 20px;
  color: #090;

  background: #dfd;
  border-radius: 4px;

  text-decoration: none;
  font-weight: 600;

  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s;
}

.card:hover .variant-container a {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.8s;
}