@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root
{
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 28;
}

body
{
    background: var(--bg-color);
    margin: 0 ;

    display: grid;
    min-height: 100vh;
    
    font-family: 'Rubik', sans-serif;
    
    text-align: center;
    place-content: center;
}

h1
{
    position: relative;
    
    width: max-content;

    font-family: 'Rubik', sans-serif;
    font-size: clamp(1rem, 3rem + 1rem, 4rem);
}

h1::before, 
h1::after
{
    content: ' ';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h1::after
{
    background: black;
    
    width: 0.125em;
    
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps( var(--typewriterCharacters)) infinite;
}
h1::before
{
    background: var(--bg-color);
    
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.subtitle
{   
    color: hsl(0 0% 0% / 0.7);
    
    font-size: 2rem;
    font-weight: 400;
    
    opacity: 0;
    
    transform: translateY(3rem);
    animation: fadeItUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter 
{
    to 
    {
        left: 100%;
    }
}
@keyframes blink 
{
    to
    {
        background: transparent;
    }
}
@keyframes fadeItUp 
{
    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}